#Admin Apps
7zip
paint.net
python3
vscode-default
wireshark
vim --params '" /InstallDir:C:\Program Files\Vim /NoDesktopShortcuts "' 
adobereader
adobeshockwave
audacity
audacity-ffmpeg
audacity-lame
autohotkey
autoit.install
bcu
cdburnerxp
chocolatey
chocolateygui
cpu-z
csource
everything
ffmpeg
filezilla
firefox
foxitreader
fsviewer
gimp
git
googlechrome
gpu-z
gsudo
hwmonitor
hxd
imageresizer
irfanview
javajre8
jwpce
k-litecodecpackfull
lame
lockhunter
microsoft-windows-terminal
minitool
mobaxterm
nagios-ncpa
notepadplusplus
path-copy-copy
processhacker
pswindowsupdate-psmodule
putty
rufus
rvtools
silverlight
sqlserver-cmdlineutils
sqlserver-management-studio
sysinternals
takoboto
telnetclient-feature
tightvnc
unxutils
vcxsrv
vlc
vmware-powercli-psmodule
windirstat
winrar
winscp
vmware-workstation
dta
skype