7zip
paint.net
python3
wireshark
vim --params '" /InstallDir:C:\Program Files\Vim /NoDesktopShortcuts "' 
activeperl
adobeair
adobereader
adobeshockwave
audacity
audacity-ffmpeg
audacity-lame
autohotkey
autoit.install
cdburnerxp
chocolatey
cpu-z
csource
everything
ffmpeg
filezilla
firefox
foxitreader
fsviewer
gimp
git
googlechrome
gpu-z
gsudo
hwmonitor
hxd
imageresizer
irfanview
javajre8
jwpce
kashmir3d
k-litecodecpackfull
lame
lockhunter
minitool
microsoft-windows-terminal
mingw
mobaxterm
nagios-ncpa
notepadplusplus
path-copy-copy
processhacker
pswindowsupdate-psmodule
putty
shotcut
silverlight
sox
strawberry-perl
sysinternals
telnetclient-feature
tightvnc
unxutils
vlc
vmware-powercli-psmodule
vscode-jp
windirstat
windjview
winrar
dta
skype